body {
  background-color: #062341;
  background-image: none;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

.navMobile {
  display: none;
}

h2 {
  color: #fff;
}

.fas:hover {
  cursor: pointer;
}

.input-search {
  height:15px;
  border-radius: 10px;
  width: 600px;
  border: none;
  padding: 10px;
  opacity: 0.7;
  outline: none;
  margin-bottom: 40px;
}

.fa-search,
.fa-user-circle,
.nav .fa-bell {
  font-size: 30px;
  color: #fff;
  margin-left: 20px;
}

.main {
  margin-top: -100px;
  display: flex;
  margin-left: 20px;
}

.icon {
  position: absolute;
  left: 0;
  bottom: -250px;
  backdrop-filter: blur(4px) saturate(150%);
    -webkit-backdrop-filter: blur(4px) saturate(150%);
    background-color: rgba(213, 215, 230, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  top: 15%;
  border-radius: 0 10px 0 0;
  padding: 15px;
}

.icon .fas {
  margin-bottom: 30px;
  display: block;
  font-size: 30px;
}

.more {
  position: relative;
}

.more h2 {
  margin-top: 60px;
}

.iconMore {
  position: absolute;
  right: 0;
}

.iconMore .fa-user-circle {
  margin-left: 50px;
}

.iconMore span {
  color: #fff;
  font-weight: 400;
  margin-left: 15px;
}

.more .fa-bell {
  color: #fff;
  font-size: 30px;
}

.icon .fa-sign-out-alt {
  position: absolute;
  bottom: 0;
}

.center {
  width: 750px;
}

.welcomeBack {
  display: flex;
  backdrop-filter: blur(4px) saturate(150%);
    -webkit-backdrop-filter: blur(4px) saturate(150%);
    background-color: rgba(213, 215, 230, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  padding: 10px 20px;
}

.women_walk {
  margin-left: 40px;
  height: 200px;
}

.label {
  width: 40px;
  height: 21px;
  background-color: #ececec;
  display: flex;
 position: absolute;
  border-radius: 40px;
  top: 15%;
  right: 5%;
}

.label:hover {
  cursor: pointer;
}

.checkbox {
  opacity: 0;
}

.ball {
  height: 18px;
  width: 18px;
  background-color: #27496D;
  top: 2px;
  left: 5%;
  position: absolute;
  border-radius: 50%;
}
.checkbox:checked + .label{
  background-color: #27496D;
}

.checkbox:checked + .label .ball {
  left: 51%;
  background-color: #ececec;
}

.playButton {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.playMusic,
.buttonOff {
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  background-color: rgba(213, 215, 230, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  width: 325px;
  padding: 10px 20px;
}

.buttonOff {
  margin-left: 20px;
}

.calendar_react {
  padding: 20px;
  backdrop-filter: blur(4px) saturate(150%);
    -webkit-backdrop-filter: blur(4px) saturate(150%);
    background-color: rgba(213, 215, 230, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  margin-bottom: 50px;
}

.more {
  margin-left: 20px;
  width: 300px;
}

.memberFace {
  display: flex;
  backdrop-filter: blur(4px) saturate(150%);
    -webkit-backdrop-filter: blur(4px) saturate(150%);
    background-color: rgba(213, 215, 230, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  justify-content: space-around;
  padding: 20px;
}

.memberFace img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.memberFace h4 {
  text-align: center;
  margin-top: 0;
}

.option {
  display: block;
}

.option1,
.option2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Details,
.addMembers,
.getNews,
.moreInfo {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 20px 40px;
  font-weight: 700;
}

.Details {
  background-color: #00A8CC;
  opacity: .7;
  
}

.addMembers {
  background-color: #FF6C00;
}

.getNews {
  background-color: #FFD700;
}

.moreInfo {
  background-color: #3282B8;
}

.profileMessages img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notification {
  display: flex;
  backdrop-filter: blur(4px) saturate(150%);
    -webkit-backdrop-filter: blur(4px) saturate(150%);
    background-color: rgba(213, 215, 230, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification:hover {
  cursor: pointer;
}

.messagesIsi {
  margin-top: -20px;
  margin-left: 10px;
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-top: -15px;
}

.fa-bars {
  display: none;
  opacity: 0;
}

@media(max-width: 1300px) {
  .center {
    width: 700px;
  }
  .input-search {
    width: 550px;
  }
}
@media(max-width: 1200px) {
  .center {
    width: 600px;
  }
  .input-search {
    width: 450px;
  }
}
@media(max-width: 1100px) {
  .center {
    width: 500px;
  }
  .input-search {
    width: 350px;
  }
}
@media(max-width: 996px) {
  .fas {
    font: 30px sans-serif;
  }
  .icon {
    display: none;
  }
  .iconMore {
    display: none;
  }
  .fa-bars {
    display: block;
    color: #fff;
    position: absolute;
    left: 2%;
    opacity: 1;
  }
  .fa-times {
    position: absolute;
    top: 3%;
    color: #fff;
    left: 5%;
    z-index: 999;
  }
  .navMobile.active {
    display: block;
    position: fixed;
    background-color: #000;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    text-align: center;
    padding-top: 100px;
  }
  .navMobile.active a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    z-index: 999;
  }
  .navMobile.active a.active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media(max-width: 915px) {
  .center {
    width: 450px;
  }
  .input-search {
    width: 350px;
  }
}
@media(max-width: 870px) {
  .main {
    display: block;
  }
  .center {
    width: 600px;
  }
  .input-search {
    width: 500px;
  }
  .more {
    margin: auto;
    width: 600px;
  }
  .Details,
  .addMembers,
  .getNews,
  .moreInfo {
    padding: 20px 100px;
  }
}
@media(max-width: 650px) {
  .welcomeBack img {
    display: none;
  }
  .welcomeBack {
    text-align: center;
  }
  .center {
    width: 400px;
  }
  .input-search {
    width: 300px;
  }
  .more {
    margin: auto;
    width: 400px;
  }
  .Details,
  .addMembers,
  .getNews,
  .moreInfo {
    padding: 20px 60px;
  }
}
@media(max-width: 500px) {
  .center {
    width: 300px;
  }
  .input-search {
    width: 200px;
  }
  .more {
    margin: auto;
    width: 300px;
  }
  .Details,
  .addMembers,
  .getNews,
  .moreInfo {
    padding: 20px 40px;
  }
}
@media(max-width: 370px) {
  .center {
    width: 250px;
  }
  .input-search {
    width: 150px;
  }
  .more {
    margin: auto;
    width: 250px;
  }
  .Details,
  .addMembers,
  .getNews,
  .moreInfo {
    padding: 20px 25px;
  }
}

@media(max-width: 668px) {
  .navMobile {
    width: 80%;
  }
}